@mixin buttonColour($mainColor, $invertColor){
    border-color: $mainColor;
    color: $mainColor;
    &:hover, &:active {
        color: $invertColor;
        background-color: $mainColor;
        border-color: $mainColor;
    }
}

.mlf__button{
    margin: 8px;
    padding: 8px 24px;
    align-items: center;
    background: rgba(0,0,0,0);
    font-weight: 600;
    border-radius: 24px;
    border-width: 1.5px;
    transition: all 0.3s;
    @include buttonColour($primary-red, white);

    &:focus{
        outline: none;
        box-shadow: none;
    }

    &--blue {
        @include buttonColour($primary-blue, white);
    }
    &--white {
        @include buttonColour(white, $deep-purple);
    }
    &--purple {
        @include buttonColour($deep-purple, white);
    }
    &--sky {
        @include buttonColour($sky-blue, white);
    }
    &--mustard {
        @include buttonColour($mustard-yellow, white);
    }

    &--square {
        padding: 12px 24px;
        border-color: $tone-7;
        border-radius: 0;
        color: $tone-7;
        display: flex;
        justify-content: center;
        & i.chev_left {
            margin-left: -8px;
        }
        & i.chev_right {
            margin-right: -8px;
        }
    }

    &--flat {
        padding: 16px 24px;
        border: none;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: $primary-red;
        &:hover, &:active {
            color: $primary-red;
            background-color: $light-red;
        }
    }
}
