$box-width: 24px;

.mlf__checkbox {
    padding: 8px 8px 8px ($box-width*1.8);
    width: fit-content;

    &__label {
        cursor: pointer;
        padding-top: 2px;

        // Default checkbox
        &::before{
            border: 2px solid $tone-5;
            background-color: $tone-1;
        }

        &::before, &::after {
            cursor: pointer;
            top: 2px;
            left: -($box-width*1.4);
            width: $box-width;
            height: $box-width;
            transition: all 0.3s;
            outline: none !important;
            box-shadow: none !important;
        }
    }

    & input{
        position: relative;
        top: 0;
        left: 0;
    }

    // Default checkbox on hover 

    &:hover .mlf__checkbox__label::before{
        border-color: $primary-red;
        background-color: white;
    }

    // Default checkbox on-check

    & .mlf__checkbox__input:checked~.mlf__checkbox__label{
        &::before {
            background-color: white;
            border-color: $primary-red;
        }
        &::after{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23E8312D' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }
        &::before,::after{
            outline: none !important;
            box-shadow: none !important;
        }
    }

    // Default checkbox disabled
    
    & .mlf__checkbox__input:disabled~.mlf__checkbox__label,
    &:hover .mlf__checkbox__input:disabled~.mlf__checkbox__label {
        color: $tone-6;
        &::before{
            background-color: $tone-3;
            border-color: $tone-5;
        }
    }

    // Round checkbox
    &--round .mlf__checkbox__label::before{
        border-radius: $box-width/2;
    }

    // Flat checkbox

    &--flat {
        & .mlf__checkbox__label::before{
            background-color: $tone-4;
            border: none;
        }

        &:hover .mlf__checkbox__label::before{
            background-color: $tone-5;
        }

        & .mlf__checkbox__input:checked~.mlf__checkbox__label {
            &::before{
                background-color: $primary-red;
            }
            &::after{
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ffffff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
            }
        }
        & .mlf__checkbox__input:disabled~.mlf__checkbox__label,
        &:hover .mlf__checkbox__input:disabled~.mlf__checkbox__label{
            color: $tone-5;
            &::before{
                background-color: $tone-4;
            }
        }
    }
}

