.dropdown {
    // Enforcing CSS to overwrite default
    &.mlf__dropdown {
        margin: 8px;
        display: inline-block;
        &, &--inverted, &--flat {
            // Change default sizing
            & * {
                font-size: 0.9rem;
            }

            & .dropdown {
                // Style button
                &-toggle {
                    display: flex;
                    align-items: center;
                    padding: 8px 20px;
                    background: none;
                    color: $tone-7;
                    border-color: $tone-7;
                    border-width: 1px;
                    transition: all 0.4s ease-in-out 0s;
    
                    // Replace arrow thingy
                    &::after {
                        font-family: 'Material Icons';
                        font-size: 18px;
                        content: "expand_more";
                        transform-origin: center;
                        transition: transform 0.3s ease-in-out 0s;
                        width: auto;
                        height: auto;
                        border: none;
                        margin: auto -5px auto 10px;
                    }
    
                    // Replace default actions
                    &:focus, &:active, &:focus:active, &:hover {
                        box-shadow: none;
                        color: $tone-9;
                    }
                }
    
                // Style actual dropdown
                &-menu {
                    width: 100%;
                    padding: 0;
                    opacity: 0;
                    transition: all 0.4s ease-in-out 0s;
                    flex-direction: column;
                    display: flex;
                    top: 0px;
                    pointer-events: none;
                    min-width: auto;
                    &.show {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
    
                // Style item within dropdown
                &-item {
                    padding: 10px 14px;
                    width: calc(100% + 2px);
                    margin: -1px;
                    margin-bottom: 0px;
                    border: 1px solid $tone-5;
                    color: $tone-7;
                    transition: all 0.15s ease-in-out 0s;
                    cursor: pointer;
                    &:hover {
                        background-color: $tone-3;
                        z-index: 1;
                        color: $tone-9;
                    }
    
                    // Add border rounding to ensure perfect fit
                    &:first-child {
                        border-top-right-radius: 0.3rem;
                        border-top-left-radius: 0.3rem;
                    }
                    &:last-child {
                        border-bottom-right-radius: 0.3rem;
                        border-bottom-left-radius: 0.3rem;
                    }
                }
            }
    
            // Style when in show mode
            &.show {
                & .dropdown {
                    &-toggle {
                        background: $primary-red;
                        color: white;
                        border-color: $primary-red;
                        &::after {
                            transform: rotate3d(1, 0, 0, 180deg);
                        }
                    }
                }
            }

        }

        &--inverted {
            & .dropdown {
                &-toggle {
                    color: $tone-3;
                    border-color: $tone-3;

                    &:focus, &:active, &:focus:active, &:hover {
                        color: $tone-1;
                        border-color: $tone-1;
                    }
                }
            }

            &.show {
                & .dropdown {
                    &-toggle {
                        background: white;
                        color: $primary-red;
                        border-color: white;
                    }
                }
            }

        }

        &--flat {
            & .dropdown {
                &-toggle {
                    background: $tone-4;
                    border: none;
                    border-radius: 0;
                    color: $tone-7;

                    &:focus, &:active, &:focus:active, &:hover {
                        color: $tone-9;
                        border-color: transparent;
                    }

                    &:active, &:focus:active {
                        background-color: $tone-4;
                    }
                }
            }
            
            &.show {
                & .dropdown {
                    &-toggle {
                        background: $primary-red;
                        color: $tone-3;
                        @include depth(1);
                    }
                    &-menu {
                        background: $primary-red;
                        border: none;
                        border-radius: 0;
                        margin-top: 0px;
                    }

                    &-item {
                        color: white;
                        border: none;
                        border-radius: 0;
                        &:hover{
                            background: $dark-red;
                        }
                    }
                }
            }
        }
    }
}