.mlf__input {
  border: 1px solid $tone-4;
  border-radius: 5px;
  transition: border-color 0.3s;
  margin: 8px 0px;
  
  &:hover {
    border-color: $tone-6;
    border-width: 1px;
  }
  &:focus {
    border-color: $secondary-light;
  }
  
  & > *{
    border: none;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $tone-6;
      opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder {  /* Internet Explorer 10-11 */
      color: $tone-6;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $tone-6;
    }
  }

  & > *, & .mlf__input--prepend button{
    outline: none !important;
    box-shadow: none !important;
  }

  &--prepend > *, &--append > * {
    border: none;
  }

  /* Flat */
  &--flat, &--flat > * {
    border: none;
    background: white;
  }

  /* Color Variants */
  &--white > * {
    background-color: white;
  }

  &--red > *{
    background-color: $primary-red;
    color: white;
  }

  &--blue > *{
    background-color: $primary-blue;
    color: white;
  }

  &--purple > *{
    background-color: $deep-purple;
    color: white;
  }

  &--sky > *{
    background-color: $sky-blue;
    color: white;
  }

  &--mustard > *{
    background-color: $mustard-yellow;
    color: white;
  }

}
