.mlf__radio {
    display: block;
    position: relative;
    width: fit-content;
    padding: 3px 0px;
    padding-left: 34px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // Adds a grey background when user hovers over
    &:hover .mlf__radio__button ~ .mlf__radio__dot,
    & .mlf__radio__button:checked ~ .mlf__radio__dot {
      border-color: $primary-red;
    }
    
    &:hover .mlf__radio__button ~ .mlf__radio__dot,
    & .mlf__radio__button:checked ~ .mlf__radio__dot {
      background-color: rbga(0,0,0,0);
    }
    &:hover .mlf__radio__button ~ .mlf__radio--flat,
    &:hover .mlf__radio__button ~ .mlf__radio--flat-square,
    & .mlf__radio__button:checked ~ .mlf__radio--flat,
    & .mlf__radio__button:checked ~ .mlf__radio--flat-square {
      background-color: $tone-5;
    }
    // show dot when clicked
    & .mlf__radio__button:checked ~ .mlf__radio__dot:after {
      opacity: 1;
    }
    &__button {
      // Hide browser's default radio button
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    // shown when user checks the radio
    &__dot {
      position: absolute;
      top: 3px;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: $tone-1;
      transition: border-color 0.3s ease-in-out;
      border: 2px solid $tone-5;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        opacity: 0;
        background: $primary-red;
        transition: background-color 0.3s ease-in-out;
        top: 3px;
        left: 3px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
    }

    &--flat, &--flat-square{
      border: none !important;
      background-color: $tone-4;
      transition: all 0.3s ease-in-out;
      &:after {
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
      }
    }

    &--square, &--flat-square {
      border-radius: 10%;
      &:after {
        border-radius: 10%;
      }
    }
    &--square {
      &:after {
        top: 3px;
        left: 3px;
        width: 15px;
        height: 15px;
      }
    }
}