@mixin sliderThumb($color) {
    background-color: $color;
    &:active{
        background-color: $color;
    }
}

.mlf__slider{
    margin: 16px 0;
    &::-webkit-slider-runnable-track{
        background: $tone-4;
        height: 5px;
    }
    &::-webkit-slider-thumb{
        @include sliderThumb($tone-6);
        margin-top: -6px;
    }

    &--red::-webkit-slider-thumb{
        @include sliderThumb($primary-red);
    }

    &--blue::-webkit-slider-thumb{
        @include sliderThumb($primary-blue);
    }

    &--purple::-webkit-slider-thumb{
        @include sliderThumb($deep-purple);
    }

    &--sky::-webkit-slider-thumb{
        @include sliderThumb($sky-blue);
    }

    &--mustard::-webkit-slider-thumb{
        @include sliderThumb($mustard-yellow);
    }

    &--inverted--red::-webkit-slider-runnable-track{
        background: $primary-red;
    }

    &--inverted--blue::-webkit-slider-runnable-track{
        background: $primary-blue;
    }

    &--inverted--purple::-webkit-slider-runnable-track{
        background: $deep-purple;
    }

    &--inverted--sky::-webkit-slider-runnable-track{
        background: $sky-blue;
    }

    &--inverted--mustard::-webkit-slider-runnable-track{
        background: $mustard-yellow;
    }
}