$switch-dot-spacing: 6.5%;

.mlf__switch {
    $self: &;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: $tone-6;
    &, #{ $self }__icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &, #{ $self }__dot {
        transition: background-color 0.35s ease-in-out 0s, transform 0.35s ease-in-out 0s;
    }

    &, #{ $self }__dot, #{ $self }__input:disabled + &:after {
        border-radius: 9999px;
    }

    // Background + Dot
    &__input, &__dot {
        @include pos-default;
        position: absolute;
    }

    // Background
    &__input {
        margin: auto !important;
        width: 100%;
        height: 200%;
        opacity: 0;
        z-index: 1;

        &:checked + * {
            & #{ $self }__dot {
                transform: translateX(100%);
            }
            & #{ $self }__icon:last-child {
                opacity: 0;
            }
        }

        &:not(:checked) + * #{ $self }__icon:nth-child(2) {
            opacity: 0;
        }

        &:checked + #{ $self } #{ $self }__dot {
            background-color: $tone-3; //default dot on check
        }

        &:checked + #{ $self }--inverted #{ $self }__dot {
            background-color: $primary-red; //inverted dot on check
        }
    }

    // Dot
    &__dot {
        background-color: $tone-3;
        height: calc(100% - calc(#{$switch-dot-spacing} * 3.141592653589793));
        width: calc(63% - calc(#{$switch-dot-spacing} * 3.141592653589793));
        margin: auto $switch-dot-spacing;

        #{ $self }--inverted &{
            background-color: $tone-6; //inverted dot
        }
    }

    // Text
    &__icon {
        width: 50%;
        overflow: hidden;
        color: $tone-3;
        transition: opacity 0.2s ease-in-out 0s;
        opacity: 1;

        #{ $self }--inverted & {
            color: $tone-7; //inverted text
        }
    }

    // Default
    #{ $self }__input:checked + & {
        background-color: $primary-red;
    }

    &--blue {
        #{ $self }__input:checked + & {
            background-color: $primary-blue;
        }
    }

    &--purple {
        #{ $self }__input:checked + & {
            background-color: $deep-purple;
        }
    }

    &--sky {
        #{ $self }__input:checked + & {
            background-color: $sky-blue;
        }
    }

    &--mustard {
        #{ $self }__input:checked + & {
            background-color: $mustard-yellow;
        }
    }

    &--inverted {
        background-color: $tone-4;
        #{ $self }__input:checked + & {
            background-color: $tone-4;
        }
    }

    &--boolean {
        background-color: $secondary-red;
        #{ $self }__input:checked + & {
            background-color: $checked-green;
        
        }
    }

    &--block {
        #{ $self }__input:checked + & {
            background-color: $primary-red;
        }
        &, #{ $self }__dot, #{ $self }__input:disabled + &:after {
            border-radius: 0;
        }
    }

}