.mlf__tooltip {
  transition: opacity 0.5s;

  .tooltip {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.4px;
    pointer-events: none;

    &-inner {
      background-color: white;
      border-radius: 2px;
      border-top: 0.5px solid $tone-4;
      color: $tone-9;
      display: flex;
      align-items: center;
      padding: 14px 12px;
      @include depth(1);
    }
  }

  .arrow {
    display: none;
  }
}

.mlf__tooltip {
  &--dark {
    .tooltip-inner {
      background-color: $tone-10;
      border-top-color: $tone-9;
      color: $tone-2;
    }
  }

  &--pill {
    .tooltip-inner {
      border-radius: 9999px;
      padding: 14px 25px;
    }
  }

}
