
.content__item--colourpalette {
  .column-half {
    width: 50%;
  }
  .column-one-third {
    width: 33.3%;
    @include desktop {
      width: 50%;
      flex-grow: 1;
    }
    @include tablet {
      width: 100%;
    }
  }
  .wrapper {
    margin: 2rem;
  }
  
  .flex--height-1 {
    margin: 0 -1em;
    min-height: 600px;
    @include tablet {
      margin: 0.4em -0.4em 0;
    }
    @include phone {
      margin: 0.4em 0 0;
      min-height: 400px;
    }
  }
  
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .image--wrapper {
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
  }
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin: 1em;
  &__title {
    font-size: 1.2rem;
    margin: 0;
    &:nth-child(1) {
      margin-top: 1rem;
    }
    &:nth-child(2) {
      margin-bottom: 1rem;
    }
  }
  &__image {
    width: 25%;
    @include tablet { width: 50% }
  }
  &__text--white {
    color: white;
  }
  &__text--red {
    color: $primary-red;
  }
  &__colors {
    font-size: 0.7rem;
    list-style-type: none;
    padding: 0;
  }

  &__color {
    margin: 0.5em 0;
  }

.image--wrapper {
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 2rem;
  margin: 16px auto;
}
  // Background Colors
  &--red {
    background-color: $primary-red;
  }
  
  &--white {
    background-color: $primary-white;
  }
  
  &--blue {
    background-color: $primary-blue;
  }
  
  &--purple {
    background-color: $deep-purple
  }
  
  &--sky-blue {
    background-color: $sky-blue;
  }
  
  &--yellow {
    background-color: $mustard-yellow;
  }
}

@include tablet {
  .palette {
    margin: 0.4em;
    .image--wrapper {
      padding: 1rem;
    }
  }
}

@include phone {
  .palette {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    margin: 10px 0 0;
    padding: 0.8em 1.6em;
    &__title {
      font-size: 1rem;
      margin: 0;
      &:nth-child(1) {
        margin-top: 0.7rem;
      }
      &:nth-child(2) {
        margin-bottom: 0.9rem;
      }
    }
    &__text--white {
      color: white;
    }
    &__text--red {
      color: $primary-red;
    }
  }

  .content__item--colourpalette {
    .image--wrapper {
      padding: 0.5rem;
    }
    .flex {
      flex-direction: column;
    }
    .column-one-third,
    .column-half {
      width: 100%;
    }
  }
}