.logo {
  $self: &;
  &__tooltip {
    margin-bottom: 2px;
  }
  &__card {
    margin-bottom: 20px;
  }
  &__section, &__colors {
    display: flex;
  }

  &__section {
    padding-top: 30px;
    flex-direction: column;
    &--2 {
      flex-direction: row;
    }
    &--first {
      padding-top: 0;
    }
  }
  &__color {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80px;
    flex: 1;
    color: $tone-2;
    padding: 0 5px;

    &--dark {
      color: $tone-10;
    }
    &-header {
      font-weight: normal;
      font-size: 0.8rem;
      margin: 0;
    }
    & > &-text {
      padding: 0;
      font-size: 0.65rem;
    }
  }
  &__col {
    width: 100%;
    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $tone-2;
    }

    #{ $self }__section--2 & {
      width: auto;
      flex-grow: 1;
      &--text {
        padding-right: 20px;
      }
    }
  }
  &__container {
    &--img {
      box-sizing: border-box;
      position: relative;
      width: 190px;
      max-width: 50vw;
      margin: 35px 10px;
    }
    &--overview {
      width: 140px;
      margin: 35px;
    }
    &--prime {
      width: 80%;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__item {
    flex-grow: 1;
    padding: 30px 20px;
    &--background {
      height: 300px;
      padding: 0 !important;
      background-position: center;
      background-size: cover;
    }
  }

  &__dot {
    width: 0;
    height: 0;
    padding: 8%;
    box-sizing: content-box;
    opacity: 0.6;

    &, &::after {
      @include pos-default;
      position: absolute;
      border-radius: 999px;
      background: $sky-blue;
    }
    &::after {
      height: 100%;
      width: 100%;
      animation: logo__overlay 0.8s ease-in-out 0s infinite;
    }
  }
  &__image {
    &--prime {
      width: 100%;
    }
    &--top-left {
      width: 15%;
      margin: 10px auto auto 15px;
      position: relative;
    }
  }
}

@include desktop {
  .logo {
    &__colors {
      flex-direction: column;
    }
  }
}

@include tablet {
  .logo {
    $self: &;
    &__colors {
      flex-direction: row;
    }
    &__section {
      flex-direction: column;
    }
    &__col {
      #{ $self }__section--2 &--text {
        padding-right: 0;
      }
    }
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      width: 50%;
      padding: 30px 13%;
      &--background {
        width: 100%;
      }
    }
    &__image {
      &--top-left {
        width: 14%;
      }
    }
  }
}

@include phone {
  .logo {
    &__colors {
      flex-direction: column;
    }
    &__list {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      padding: 30px 30%;
    }
    &__image {
      &--top-left {
        width: 20%;
      }
    }
  }
}