@mixin text-border($color, $width){
  text-shadow:
   -$width (-$width) 0 $color,  
    $width (-$width) 0 $color,
   -$width $width 0 $color,
    $width $width 0 $color;
}

.home{
  &__header{
    font-size: 5.5rem;
  }
  &__subtitle{
    padding-bottom: 24px !important;
    &--first{
      padding-bottom: 40px !important;
    }
    &--main {
      font-family: 'Roboto Slab', serif;
      font-size: 1.6rem !important;
      color: $primary-red;
    }
  }
  &__example{
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__container{
    padding: 8px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &--gray{
      padding: 8px 0px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 16px 0px;
      background-color: $tone-2;
    }
    &--half{
      width: 50%;
      align-content: center;
      padding: 16px;
      & > * {
        display: flex;
      }
    }
    &--third{
      width: 32%;
      height: 280px;
      margin-bottom: 16px;
    }
  }
}

.hover__card{
  transition: all 0.5s ease-out;
  &:hover{
    @include depth(1);
  }
}
// Branding

.brand{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;

  & h4 {
    font-size: 5rem;
    color: white;
    @include text-border($primary-red, 1px);
  }
  & h5{
    font-size: 2rem;
    margin-bottom: 17px;
    margin-left: 8px;
  }
  &__principle{
    display: flex;
    align-items: flex-end;
    margin-bottom: -6px;
  }
  &__description{
    flex-grow: 1;
  }
}

// Responsiveness
@include desktop {
  .home {
    &__container {
      &--third{
        width: 100%;
      }
      &--half {
        width: 100%;
      }
    }
  }
}
@include tablet {
  .home{
    &__header{
      font-size: 4rem;
    }
    &__container{
      display: block;
    }
  }
}

@include phone {
  .home {
    &__header{
      font-size: 3.5rem;
    }
  }
  .brand{
    display: block;
    &__principle, &__description{
      width: 100%;
    }
  }
}