.typo {
  &__header {
    font-size: 1.3rem;
    &--primary {
      color: $primary-red;
    }
  }

  &__demo {
    width: 100%;
    height: 100%;
    min-height: 100px;
    resize: none;
    border: none;
    background-color: $tone-2;
    padding: 15px;
    &--primary {
      font-size: 1.2rem;
      font-family: 'Roboto Slab', serif;
      font-weight: bold;
    }
  }

  &__row-item {
    width: 50%;
    padding: 5px 15px;
    @include desktop {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    margin: 5px 0 10px;
  }
}