.search {
  $self: &;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
  z-index: 21;
  @include pos-default;
  padding-left: $sidenav-width;
  @include tablet { padding-left: 0; }

  &__input {
    font-size: 1rem;
    height: 70px;
    font-weight: bold;
    padding: 13px 24px;
    padding-right: 90px;
    border: none;
    flex-shrink: 0;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s ease-in-out;
    @include depth(1);
    
    #{ $self }--hide & {
      transform: translate3d(0, -100%, 0);
    }
  }

  &__back {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: opacity 0.4s ease-in-out;
    animation: search__back 0.4s ease-in-out;
    @include pos-default;

    #{ $self }--hide & {
      opacity: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 18px 24px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    &:hover {
      background-color: $tone-3;
    }
    &:active {
      background-color: $tone-4;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__wrapper {
    &--items {
      overflow-y: auto;
      background-color: white;
      transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
      @include pos-default;

      #{ $self }--hide & {
        opacity: 0;
        transform: translate3d(0, calc(-100% - 70px), 0);
      }

      &::-webkit-scrollbar {
        width: 5px;
        &-thumb {
          background-color: rgba(0,0,0,0.6);
        }
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__desc {
    margin-left: auto;
    font-size: 1rem;
    font-style: italic;
    color: $tone-8;
  }

  @keyframes search__input {
    from { transform: translate3d(0,-100%,0) }
    to { transform: translate3d(0,0,0) }
  }

  @keyframes search__back {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}