.swipe-card{
    background: $tone-2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    transition: transform 0.8s ease-in-out;
    position: relative;

    &__main{
        width: 100%;
        height: 100%;
        color: $deep-purple;
        > * {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
        }
    }

    &__slider{
        background: $primary-red;
        color: white;
        padding: 0px 16px;
        width: 100%;
        height: 100%;
        @include pos-default;
        position: absolute;
        transition: transform 0.5s;
        transform: translate3d(0,100%,0) translate3d(0, -70px, 0);
    }

    & h3 {
        padding-top: 18px;
    }
    & p {
        padding: 16px;
    }

    &:hover .swipe-card__slider{
        transform: translate3d(0,0,0);
        & .swipe-card__hidden{
            opacity: 1;
        }
    }
}

@media (max-width: #{$tablet-width}) {
    .swipe-card__main img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: #{$phone-width}) {
    .swipe-card__main img{
        width: auto;
        height: 100%;
    }
}