.summoned {
  display: inline;
  position: fixed;
  z-index: 50;
}

.modal__body {
  margin: auto;
  display: flex;
  overflow: visible;
  justify-content: center;
  align-items: center;

  &__img--primary {
    display: block;
    height: 90%;
    width: 90%;
  }

  &__img--secondary {
    display: block;
    height: 200px;
    width: 200px;
  }
}

@include tablet{
  .modal__body{
    &__img--primary {
      height: 60%;
      width: 60%;
    }
    &__img--secondary {
      height: 100px;
      width: 100px;
    }
  }
}