.async {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    &__loader {
        padding: 14px;
        margin-bottom: 8px;
        background-color: $primary-red;
        position: relative;
        animation: async__loader 1s ease-in-out 0s infinite;
    }
    &__text {
        padding-left: 14px;
        &:after {
            content: "";
            will-change: contents;
            animation: async__text 1s ease-in-out 0s infinite both;
        }
    }
}

@keyframes async__loader {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-30px) rotate(135deg); }
    100% { transform: translateY(0) rotate(270deg); }
}

@keyframes async__text {
    0% { content: "" }
    33.333% { content: "." }
    66.666% { content: ".." }
    100% { content: "..." }
}