.error {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 10px 30px;

  &__card {
    animation: error-fadein 0.4s ease-in-out 0.2s both;
  }

  &__head {
    padding: 16px 0px 7px;
    color: $primary-red;
    font-weight: bold;
  }

  &__msg {
    font-size: 17px;
    letter-spacing: 2px;
    margin-bottom: -5px;
  }
}

@keyframes error-fadein {
  from { transform: translateY(-60px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
