/* Code Editor Colors */
$background: $tone-10;
$text: $tone-3;
$default: #5ca7e8;
$prop-key: lightblue;
$prop-value: orange;
$line-number: yellow;
$comment: $tone-7;
$hover: rgba(255,255,255,0.04);

.code {
  &__editor {
    padding: 20px 0px;
    background: $background;
    color: $default;
    border: none;
    border-radius: 2px;
    margin: 10px 0;
    display: flex;

    &::-webkit-scrollbar {
      height: 5px;
      &-thumb {
        background: $tone-7;
      }
    }
  }

  &__lines {
    box-sizing: content-box;
    padding: 0 30px 0 0;
    margin: 0;
    min-width: 600px;
    width: 100%;
    list-style: none;
    &:first-child {
      counter-reset: customlistcounter;
    }
  }

  &__line {
    counter-increment: customlistcounter;
    margin-bottom: -2px;
    transition: background-color 0.2s ease-in-out 0s;

    &--content {
      white-space: pre-wrap;
    }

    &:hover {
      background-color: $hover;
    }

    &:before {
      content: counter(customlistcounter);
      padding: 0 15px;
      color: $line-number;
    }
  }

  &__text {
    color: $text;
    &--comment {
      color: $comment;
    }
  }

  &__tag {
      color: $prop-key;
    }

  &__attr {
    color: $prop-value;
  }
}
