.coming-soon {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 30px;
  
    &__card {
      animation: cs-fadein 0.4s ease-in-out 0.2s both;
      padding-top: 48px;
      margin: 16px;
      position: relative;
    }

    &__gear{
        font-size: 4rem;
        position: relative;
    }
}

#gear1{
    left: 4px;
    animation: cs-rotate 5s linear infinite;
}

#gear2{
    right: 4px;
    bottom: 20px;
    animation: cs-rotate 4s linear infinite reverse;
}

@keyframes cs-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes cs-fadein {
    from { transform: translateY(-60px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  