.content {
  $self: &;
  display: flex;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
    background: $tone-4;
    &-thumb {
      background: $tone-6;
    }
  }

  & p {
    font-size: 0.95rem;
    margin: 0;
    padding-bottom: 8px;
  }

  &__item {
    padding-bottom: 50px;
    #{ $self }--no-title & {
      padding-top: 70px;
    }
  }

  &__main {
    margin-left: auto;
    min-width: 1px;
    width: calc(100% - #{ $sidenav-width });
    min-height: 100vh;
    padding: 65px 40px 40px;
    opacity: 1;
    transition: padding 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, width 0.4s ease-in-out 0s;
    animation: content__main 0.4s ease-in-out 0s;
    -webkit-overflow-scrolling: touch;

    @include tablet {
      width: 100%;
    }

    @include phone {
      will-change: padding;
      padding: 65px 20px 40px;
    }

    &--fadeout {
      opacity: 0;
    }

    @keyframes content__main {
      from { opacity: 0 } to { opacity: 1 }
    }
  }

  &__h1 {
    padding: 16px 0;
    margin: 0;
    transition: transform 0.4s ease-in-out 0s;
    animation: content__h1 0.4s ease-in-out 0s;
    #{ $self }__main--fadeout & {
      transform: translateY(-40px);
    }
    @keyframes content__h1 {
      from { transform: translateY(-40px) }
      to { transform: translateY(0) }
    }
  }

  &__header {
    padding-top: 24px;
    &--first {
      padding-top: 0;
    }
  }

  &__subheader {
    font-size: 1.4rem;
    padding-top: 18px;
    padding-bottom: 4px;
    color: $primary-red;
    #{ $self }__header + &, #{ $self }__header--first + & {
      padding-top: 8px;
    }
  }
  
  &__subheader--white {
    color: $primary-white;
  }

  &__list{
    margin-bottom: 0;
    font-size: 0.95rem;
  }

  &__indent {
    // padding-left: 15px;
    // transition: padding-left 0.4s ease-in-out 0s;
    // @include phone {
    //   padding-left: 10px;
    // }
  }

  &__container, &__container--dark {
    background: $tone-2;
    margin: 12px 0px;
    padding: 20px;
    transition: padding 0.4s ease-in-out 0s;
    @include phone {
      will-change: padding;
      padding: 20px 10px;
    }
    &--items {
      padding: 8px 0px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
    &--dark{
      background: $tone-7;
    }
    &--caption{
      text-align: center;
      color: $tone-7;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__row-item {
    #{ $self }__row--col-2 & {
      width: 50%;
      padding: 0 15px;
      @include desktop {
        width: 100%;
        padding: 30px 15px;
      }
    }
  }
}