.mobile, .mobile--expanded, .mobile--collapsed {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 60;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: flex-end;
}

.mobile {
  $self: &;
  &--expanded {
    transition: opacity 0.4s ease-in-out 0s;
    opacity: 1;
  }

  &--collapsed {
    transition: opacity 0.4s ease-in-out 0s;
    pointer-events: none;
    opacity: 0;
  }

  &__backdrop {
    height: 100%;
    width: 100%;
    transition: opacity 0.4s ease-in-out 0s;
    background-color: rgba(0,0,0,0.7);
    
    #{ $self }--expanded & {
      opacity: 1;
    }

    #{ $self }--collapsed & {
      opacity: 0;
    }

  }

  &__wrapper {
    &--nav {
      flex-grow: 1;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 4px;
        &-thumb {
          background-color: rgba(0,0,0,0.4);
        }
      }
    }
  }

  &__nav {
    @include pos-default;
    position: absolute;
    margin: 0 0 0 auto;
    z-index: 61;
    list-style-type: none;
    background-color: white;
    max-width: $sidenav-width;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease-in-out 0s;

    #{ $self }--expanded & {
      transform: translateX(0);
    }

    #{ $self }--collapsed & {
      transform: translateX($sidenav-width);
    }

    &__item, &__item--back {
      display: flex;
    }

    &__item {
      transition: background-color 0.25s ease-in-out 0s;

      &:hover {
        background-color: rgba(0,0,0,0.06);
      }

      &, &--active {
        cursor: pointer;
      }

      &--active {
        display: flex;
        font-weight: bold;
        background-color: rgba(0,0,0,0.1);
      }

      &--back {
        flex-shrink: 0;
      }
    }

    &__item--back {
      padding: 11px 16px;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px solid $tone-3;
    }

    &__header {
      font-size: 18px;
      font-weight: bold;
      padding: 12px 6px;
      padding-right: 0px;
      margin-right: auto;
    }

    &__back {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary-red;
      border: none;
      background: none;
      border-radius: 26px;
      padding: 10px 16px;
      cursor: pointer;
      transition: box-shadow 0.2s ease-in-out 0.2s;

      &:hover {
        @include depth(1);
      }
    }

    &__icon {
      margin-right: 2px;
      font-weight: bold;
    }

    &__link--clear {
      padding: 16px 24px;
      flex-grow: 1;
    }
  }
}
