// Primary Colors
$primary-blue: #004AB5;
$primary-white: #F2E9DB;
$primary-red: #E8312D;

// Secondary Colors
$secondary-light: #98B6DF;
$secondary-blue: #1B447E;
$secondary-red: #ED3A29;
$deep-purple: #1A122D;
$sky-blue: #65BDE0;
$mustard-yellow: #FFA80D;

// Primary Color Variations
$light-red: #f7dada;
$dark-red: #D40D08;

// Tones
$tone-1: #FAFAFA;
$tone-2: #F5F5F5;
$tone-3: #EEEEEE;
$tone-4: #E0E0E0;
$tone-5: #BDBDBD;
$tone-6: #9E9E9E;
$tone-7: #757575;
$tone-8: #616161;
$tone-9: #424242;
$tone-10: #212121;

/* Additional Colors */
$eggshell-blue: #F4F7FA;
$faint-blue: #DDE8F7;
$checked-green: #41C300;
