// Assets Stuff
@import './mixins';
@import './colors';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $tone-2;
  color: $deep-purple;
  font-size: 0.9rem;
  &, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

/* Async Loader (Priority import since loader) */
@import './components/async/async';

.pos--clear {
  @include pos-default;
}

/* Custom MLF styling Defaulting */
.mlf-clear {
  &, & p, &--all, &--all * {
    margin: 0;
    padding: 0;
  }
}

.mlf {
  &__card {
    background-color: white;
    padding: 30px 40px;
    transition: box-shadow 0.4s ease-in-out 0s, padding 0.4s ease-in-out 0s;
    & ~ & {
      margin-top: 20px;
    }

    @include phone {
      will-change: padding;
      padding: 20px 25px;
    }
  }

  &__pages {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }

  &__card--transparent{
    background-color: rgba(0,0,0,0);
  }
}

a[class*="--clear"] {
  text-decoration: none;
  color: inherit;
}

/* Page Stuff */
@import './pages/errorpage';
@import './pages/contentpage';
@import './pages/comingsoonpage';

/* Components Stuff */
@import './components/nav/_nav';
@import './components/mobilenav/mobilenav';
@import './components/sidenav/sidenav';
@import './components/error/error';
@import './components/code/code';
@import './components/modal/modal';
@import './components/card/swipecard';
@import './components/search/search';

/* Content Components Stuff - Web */
@import './contentComponents/web/input';
@import './contentComponents/web/overview';
@import './contentComponents/web/tooltip';
@import './contentComponents/web/button';
@import './contentComponents/web/switch';
@import './contentComponents/web/dropdown';
@import './contentComponents/web/radio';

/* Content Components Stuff - Home */
@import './contentComponents/home/overview';
@import './contentComponents/home/logo';
@import './contentComponents/home/colourpalette';
@import './contentComponents/home/typography';

/*  Content Components Stuff - PowerApps */
@import './contentComponents/power/overview';
