.mlf__radio {
    &__wrapper,
    &__wrapper--white {
      border-radius: 2px;
      margin-bottom: -5px;
      margin-top: 10px;
      padding: 1rem;
    }
    &__wrapper {
        background: $tone-2;
    }
    &__wrapper--white {
        background: $primary-white;
      }
  }