.switch {
    &__example {
        &__item {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__tag {
            margin-top: 8px;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
        }
    }
}