.sidenav {
  $self: &;
  animation: sidenav 0.4s ease-in-out 0s;
  @include tablet {
    animation: none;
    transform: translateX(-$sidenav-width);
    &::not(#{$self}--expanded) {
      animation: sidenav 0.4s ease-in-out 0s;
      transform: translateX(0);
    }
  }

  &, &--expanded, &--collapsed {
    width: $sidenav-width;
    background-color: $primary-red;
    color: $tone-2;
    position: fixed;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    z-index: 30;
    display: flex;
    flex-direction: column;
    @include depth(1);
  }

  &--expanded, &--collapsed {
    transition: transform 0.4s ease-in-out 0s;
  }

  &--fadeout {
    transform: translateX(-$sidenav-width);
  }

  &--collapsed {
    @include tablet {
      transform: translateX(-$sidenav-width);
    }
  }

  &__wrapper {
    &--items {
      flex-grow: 1;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 4px;
        &-thumb {
          background-color: rgba(0,0,0,0.3);
        }
      }
    }
  }

  &__item {
    cursor: pointer;
    display: flex;
    padding: 16px 30px;
    transition: background-color 0.2s ease-in-out;

    &--active, &:hover {
      background-color: rgba(255,255,255,0.08);
    }
  }

  &__brand {
    padding: 30px;
  }

  &__logo {
    width: 85%;
    cursor: pointer;
  }
}

@keyframes sidenav {
  from { transform: translateX(-$sidenav-width) }
  to { transform: translateX(0) }
}