.nav {
  $self: &;

  &, &--scrolled {
    position: fixed;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s;
    z-index: 20;
  }

  &--scrolled {
    background-color: white;
    @include depth(1);
  }

  &__items {
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 15px 0;
    font-family: 'Open Sans', sans-serif;
  }

  &__item {
    &, &--active {
      cursor: pointer;
      padding: 0 6px;
      margin: 0 2px;

      @include tablet {
        display: none;
      }
    }
    &--icon {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    display: flex;
    padding: 8px 4px;
    margin: 0px 6px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid $deep-purple;
      transition: transform 0.4s ease-in-out 0s;
      @include pos-default;
      transform: scaleX(0);
      transform-origin: left;
      margin-left: auto;
      
      #{ $self }__item:hover &, #{ $self }__item--active & {
        transform: scaleX(1);
      }
    }
  }

  &__icon {
    display: none;
    font-size: 1.7rem;
    padding: 9px;
    border-radius: 9999px;
    margin: 11.5px 6px;
    cursor: pointer;
    transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
    &:not(#{$self}__icon--close):hover {
      @include depth(1);
    }
    &:active {
      background-color: $tone-3;
    }

    @include tablet {
      display: flex;
    }
    &--search {
      display: flex;
      background-color: $tone-2;
      z-index: 22;
    }
    &--close {
      transition: transform 0.4s ease-in-out;
      transform: rotate(360deg);
      position: relative;
      &::after {
        content: "close";
        position: absolute;
        border-radius: 999px;
        background-color: white;
        color: black;
        padding: 9px;
        margin: auto;
        @include pos-default;
        animation: nav__icon--closes 0.4s ease-in-out backwards;
      }

      &:hover {
        &::after {
          background-color: $tone-2;
        }
      }

      &:active {
        &::after {
          background-color: $tone-3;
        }
      }
    }
    @keyframes nav__icon--closes {
      from { background-color: transparent; color: transparent; }
      to { background-color: white; color: black; }
    }
  }
}